
alternative-book/Lectures-QM.aux
alternative-book/Lectures-QM.log
alternative-book/Lectures-QM.fls
alternative-book/Lectures-QM.fdb_latexmk
alternative-book/Lectures-QM.out
alternative-book/Lectures-QM.toc
alternative-book/Lectures-QM.synctex.gz

